---
import BaseLayout from "../layouts/Base.astro";
import homeNav from "../configs/homeNav.yml";
---

<BaseLayout
  hue=""
  title=""
  description="The personal website of Ezequiel Adrian Schwartzman"
>
  <div class="w-full max-w-sm mx-auto space-y-4 pb10 pt10 px4">
    <div class="bg-white/40 p4 text-black/60 rounded-lg shadow-md">
      <p>Welcome to my website.</p>
    </div>
    {
      Object.entries(homeNav as { [key: string]: any }).map(
        ([navKey, navItem]) => (
          <a
            class="
				flex h-16
				group relative
				transition-transform
				rounded-lg
				transition-duration-500
				hover:transition-duration-0
				hover:scale-102
				"
            href={navItem.link}
          >
            <style
              set:html={`
				.nav-item-${navKey}{
					background-color: hsl(${navItem.hue}, var(--main-saturation), 40%);
				}
				.nav-item-${navKey}:hover {
					background-color: hsl(${navItem.hue}, var(--main-saturation), 60%);
				}`}
            />
            <span
              class={`
				nav-item-${navKey}
				relative z-10 block flex h-full w-full
				b-2 b-black/20
				rounded-lg shadow-md font-light tracking-wider
				bg-gradient-to-br from-white/20 to-white/0
				transition-background-color hover:transition-duration-0 transition-duration-500
				overflow-hidden
			`}
            >
              <span class="w-16 flexcc text-3xl">{navItem.icon}</span>
              <span
                class="
					flexc_ pl4 flex-grow
					bg-white/20 rounded-md text-white
					bg-gradient-to-b from-white/0 to-white/10
					b-1 b-white/10
					"
              >
                <div>
                  <div class="text-xl">{navItem.title}</div>
                  <div class="text-sm opacity-70">{navItem.sub}</div>
                </div>
              </span>
            </span>
            <span
              style="box-shadow: 0 0 10px hsl({{navItem.hue}}, 80%, 40%)"
              class="opacity-0 transition-opacity transition-duration-500 group-hover:transition-duration-0 group-hover:opacity-50 block absolute inset-0 z-0 rounded-lg"
            />
          </a>
        )
      )
    }
  </div>
</BaseLayout>
