---
import { Icon } from "astro-icon/components";

import social from "../configs/social.yml";
---

<footer class="bg-main-600 text-white/80 pt2">
  <div class="text-4xl text-center mt8 mb8">Get in touch</div>
  <div class="flexcc flex-wrap space-x-2 mb4">
    {
      social.map((soc: any) => (
        <a
          target="_blank"
          href={soc.link}
          title={soc.name}
          class="block h-10 p2 text-white/60 flexce relative group hover:text-white transition-color rounded-md overflow-hidden"
        >
          <span class="block relative z-20 flexce font-size-sm">
            <span class="mr-2 block h-6">
              <Icon name={soc.icon} class="w-full h-full" />
            </span>
            {soc.name}
          </span>
          <span
            class="opacity-70 group-hover:scale-y-100 scale-y-0 transform-origin-bottom transition-duration-200 transition-transform block absolute z-10 top-0 left-0 w-full h-full"
            style={`background-color: ${soc.color}`}
          />
        </a>
      ))
    }

    <!-- {% endfor %} -->
  </div>
  <!-- <div class="w-full max-w-sm mx-auto mb8 px4">
    <div class="text-4xl text-center mt8 mb2">Get in touch</div>
    <p class="text-center mb4">You can also just DM me on Telegram</p>
    <div class="mb2">
      <div class="mb1">Your name</div>
      <input
        class="w-full rounded-md h8 text-black/60 px2 outline-main-700"
        type="text"
      />
    </div>
    <div class="mb2">
      <div class="mb1">Your email</div>
      <input
        class="w-full rounded-md h8 text-black/60 px2 outline-main-700"
        type="text"
      />
    </div>
    <div class="mb2">
      <div class="mb1">What is this about</div>
      <textarea class="w-full h-40 rounded-md text-black/60 p2 outline-main-700"
      ></textarea>
    </div>
    <div class="flexee">
      <button
        class="bg-white/80 rounded-md hover:bg-white font-bold tracking-wider uppercase px4 py2 text-main-600"
        >Send</button
      >
    </div>
  </div> -->
</footer>
