---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import homeNav from "../configs/homeNav.yml";

const { title, description, nav, markdown } = Astro.props;

const navItem = homeNav[nav];
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />

    <style
      is:global
      define:vars={{ "main-hue": navItem?.hue || 55, "main-saturation": "50%" }}
    ></style>
  </head>

  <body
    class:list={[
      "bg-main-800 flex flex-col min-h-screen font-[Quicksand] text-black/70",
    ]}
  >
    <Header />
    {
      navItem ? (
        <h2
          class="
  relative z-30
  h0 -mt13 mb13"
        >
          <div class="h24 overflow-hidden">
            <div class="flexc_ w-full max-w-screen-md mx-auto h24">
              <a
                href={navItem.link}
                class="
      flex-shrink-0
      w-20 h-20 flexcc b-5 b-main-800 ml4 mr4
      bg-main-600 bg-gradient-to-b from-white/10 to-white/0 shadow-md
      rounded-full text-4xl
    "
              >
                {navItem.icon}
              </a>
              <div
                class="
      relative
      flex-grow py2 px3
      text-2xl text-white font-normal tracking-wider font-[Quicksand]"
              >
                <a href={navItem.link} class="block relative z-10">
                  <span class="block text-xl">{navItem.title}</span>
                  <span class="block text-sm opacity-70">{navItem.sub}</span>
                </a>
                <div
                  class="
        absolute z-0 top-0 left-0 h-full w-2/1

        bg-main-600 bg-gradient-to-b from-white/10 to-white/0 shadow-md
        rounded-l-lg
        b-4 b-main-800 b-r-0"
                />
              </div>
            </div>
          </div>
        </h2>
      ) : (
        <h2
          class="relative z-30
      flexcc
      h20 -mt11 -mb11"
        >
          <div class="relative w-30 h-30">
            <img
              src="/me.jpg"
              class="relative z-20 w-full h-full rounded-full shadow-sm b-4 b-main-700 shadow-md"
            />
          </div>
        </h2>
      )
    }
    <main class:list={["flex-grow relative pt10", { markdown: markdown }]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
