---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Base.astro";
// import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const options = { day: "numeric", month: "short", year: "numeric" };
const formatter = new Intl.DateTimeFormat("en-US", options as any);
---

<Layout
  title={post.data.title}
  description={post.data.description}
  nav="writing"
>
  <div class="markdown max-w-screen-md p4 mx-auto">
    <h1>{post.data.title}</h1>
    <p class="-mt8">
      {formatter.format(post.data.pubDate)}
      {" "}
      {
        post.data.updatedDate
          ? ` (Updated ${formatter.format(post.data.updatedDate)})`
          : ""
      }
    </p>
    <Content />
  </div>
</Layout>
